@import 'tailwindcss';

@variant dark (&:where(.dark, .dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@plugin "daisyui";

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-headline: 'Plus Jakarta Sans', sans-serif;
    --font-body: 'Inter', sans-serif;
    --font-label: 'Inter', sans-serif;

    --color-primary: #004ac6;
    --color-primary-container: #2563eb;
    --color-on-primary: #ffffff;
    --color-on-primary-container: #eeefff;
    
    --color-secondary: #575e70;
    --color-secondary-container: #d9dff5;
    --color-on-secondary: #ffffff;
    --color-on-secondary-container: #5c6274;

    --color-tertiary: #006329;
    --color-tertiary-container: #007f36;
    --color-on-tertiary: #ffffff;
    --color-on-tertiary-container: #c7ffca;

    --color-surface: #f8f9fa;
    --color-surface-bright: #f8f9fa;
    --color-surface-dim: #d9dadb;
    --color-surface-variant: #e1e3e4;
    --color-on-surface: #191c1d;
    --color-on-surface-variant: #434655;

    --color-surface-container-lowest: #ffffff;
    --color-surface-container-low: #f3f4f5;
    --color-surface-container: #edeeef;
    --color-surface-container-high: #e7e8e9;
    --color-surface-container-highest: #e1e3e4;

    --color-outline: #737686;
    --color-outline-variant: #c3c6d7;
    
    --color-error: #ba1a1a;
    --color-error-container: #ffdad6;
    --color-on-error: #ffffff;
    --color-on-error-container: #93000a;
}
